<p id="notice"><%= notice %></p>

<p class='center'>
  Click on a country chart to see it in more detail, or use the controls
  above to view global information.
</p>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th style='width: 1in;'>Cumulative</th>
      <th style='width: 1in;'>Cases Per Million</th>
      <th style='width: 1in;'>Cases Per Day</th>
      <th style='width: 1in;'>Change in Cases/Day</th>
      <th style='width: 1in;'>Fatality %</th>
      <th style='width: 1in;'>Doubling Rate</th>
    </tr>
  </thead>

  <tbody>
    <% if @page == 1 %>
      <%= render 'index_row', reports: Report.starting(@start_date).where(country: @all_countries).order("date(reported_at)").group("date(reported_at)"), country: nil %>
    <% end %>

    <% @countries.each do |country| %>
      <%= cache [@start_date, country] do %>
        <% reports = country.reports.starting(@start_date).order("date(reported_at)").group('date(reported_at)') %>
        <%= render 'index_row', reports: reports, country: country %>
      <% end %>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan='10' style='text-align: center;'>
        <% if @page > 1 %>
          <%= link_to '&larr; Previous Page'.html_safe, url_for(page: @page - 1) %>
          <% if @countries.size == @per_page %> | <% end %>
        <% end %>

        <% if @countries.size == @per_page %>
          <%= link_to '&rarr; Next Page'.html_safe, url_for(page: @page + 1) %>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>
